.cell {
  width: 75px;
  height: 75px;
  border: 2px solid;
  box-shadow: 0 0 0 2px;
  line-height: 75px;
  font-size: 50px;
  cursor: pointer;
}
#gameContainer {
  text-align: center;
}
#cellContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 225px;
  margin: auto;
}
#restart {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  width: 90px;
  font-weight: 600;
  font-size: 1em;
}
#restart:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border: 1px solid white;
}
