body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  background-color: black;
  color: greenyellow;
}

#sign-in {
  padding: 50px;
}

.game-board {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
}

.square {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border: 1px solid white;
  background-color: black;
  color: white;
  /* font-size: 2em; */
}

.sq-btn {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
